body{
  background-color: #FFD39A;

}

hr{
  border-style:none;
  border-top-style: dotted;
  border-color: #205375;
  border-width:5px;
  width: 10%;
}

h1{
  font-family: 'Courier New', monospace;
  color: #781C68;
}

h3{
  font-family: 'Courier New', monospace;
  color: #781C68;
}
